In [4]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('../data/car_price.csv')

# Print all column names
print(df.columns)

Index(['Unnamed: 0', 'Brand', 'Model', 'YOM', 'Engine (cc)', 'Gear',
       'Fuel Type', 'Millage(KM)', 'Town', 'Date', 'Leasing', 'Condition',
       'AIR CONDITION', 'POWER STEERING', 'POWER MIRROR', 'POWER WINDOW',
       'Price'],
      dtype='str')

In [7]:
#print all unique values in the second column
print(df.iloc[:, 1].unique())

<StringArray>
[         'AUDI',        'AUSTIN',         'BAJAJ',           'BMW',
           'BYD',         'CHERY',     'CHEVROLET',       'CITROEN',
        'DAEWOO',      'DAIHATSU',        'DATSUN',          'FIAT',
          'FORD',         'FOTON',         'HONDA',       'HYUNDAI',
         'ISUZU',           'JAC',        'JAGUAR',          'JEEP',
        'JONWAY',           'KIA',    'LAND-ROVER',         'LEXUS',
      'MAHINDRA',         'MAZDA', 'MERCEDES-BENZ',            'MG',
         'MICRO',          'MINI',    'MITSUBISHI',        'MORRIS',
        'NISSAN',          'OPEL',         'OTHER',       'PERODUA',
       'PEUGEOT',        'PROTON',       'RENAULT',          'SEAT',
         'SKODA',        'SUBARU',        'SUZUKI',          'TATA',
         'TESLA',        'TOYOTA',    'VOLKSWAGEN',         'VOLVO',
        'WILLYS',         'ZOTYE']
Length: 50, dtype: str

In [22]:
#print all unique values in the sixth column into a new file by sorting ascending order
unique_values = sorted(df.iloc[:, 8].unique())
with open('unique_values.txt', 'w') as f:
    for value in unique_values:
        f.write(f"{value}\n")

In [30]:
#print all unique values in the 10 column
print(df.iloc[:, 15].unique())

<StringArray>
['Available', 'Not_Available']
Length: 2, dtype: str